
  <h3 class="heading" >Welcome to result management</h3>
  <div class="container">
    <div class="row  mainContent align-items-center ">
        <h4 class="row justify-content-center">Login As</h4>
        <div class="row justify-content-center">
            <div class="col-6 text-end">
                <a href="/student/login" class="btn btn-primary btn-lg">Student</a>
            </div>
            <div class="col-6 text-start">
                <a href="/teacher/login" class="btn btn-primary btn-lg">Teacher</a>
            </div>
        </div>     
    </div>
  </div>