
<main>
    <a href="/" class="btn btn-success back">Back </a>
    <div class="form-container">
<div id="error"></div>
<div class="mainContent">
    <div class="login">
        <h3 class="text-center">Result</h3>
    </div>
<div class="result align-items-center justify-content-center">
<ul class="start">
<li>Roll Number</li>
<li>Name</li>
<li>Date of Birth</li>
<li>Score</li>
</ul>

<ul class="end">
    <li id="rollNumber"></li>
    <li id="name"></li>
    <li id="dateOfBirth"></li>
    <li id="score"></li>
</ul>
</div>
</div>
</div>
</main>


<script src="/js/getResult.js"></script>



